@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
}

.pricing-slider {
  width: 100%;
  position: relative;
  margin: 1.5rem 0;
}

.pricing-slider > .slider {
  width: 100%;
  -webkit-appearance: none;
  background: #eaeefb;
  background-image: -webkit-gradient(linear, left top, right top, from(#a5f3eb), to(#a5f3eb));
  background-image: linear-gradient(to right, #a5f3eb, #a5f3eb);
  background-size: var(--width, 50%) 100%;
  background-repeat: no-repeat;
  height: 0.9rem;
  border-radius: 999px;
}

.pricing-slider > .slider:focus {
  outline: none;
}

.pricing-slider > .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: -webkit-grab;
  cursor: grab;
  background: url("../images/icon-slider.svg") no-repeat, #10d5c2;
  background-position: center;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
  height: 4rem;
  width: 4rem;
  border-radius: 999px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-box-shadow: 0 0 2px 0 #a5f3eb;
          box-shadow: 0 0 2px 0 #a5f3eb;
  border: none;
}

.pricing-slider > .slider::-webkit-slider-thumb:hover {
  background: url("../images/icon-slider.svg") no-repeat, #7aebe0;
  background-position: center;
  cursor: pointer;
}

.pricing-slider > .slider:focus::-webkit-slider-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #0b9385;
  background-position: center;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pricing-slider > .slider::-webkit-slider-runnable-track {
  background: #eaeefb;
  background: transparent;
  border: none;
  height: 1rem;
  border-radius: 999px;
}

.pricing-slider > .slider::-moz-range-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #10d5c2;
  background-position: center;
  box-shadow: 0 5px 10px #a5f3eb;
  height: 4rem;
  width: 4rem;
  border-radius: 999px;
  border: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.pricing-slider > .slider::-moz-range-thumb:hover {
  background: url("../images/icon-slider.svg") no-repeat, #7aebe0;
  background-position: center;
  cursor: grab;
}

.pricing-slider > .slider:focus::-moz-range-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #0b9385;
  background-position: center;
  cursor: grabbing;
}

.pricing-slider > .slider::-moz-range-progress {
  background-color: #a5f3eb;
  padding: 0.3rem;
  border-radius: 999px;
}

.pricing-slider > .slider::-moz-range-track {
  background-color: #eaeefb;
  padding: 0.3rem;
  border-radius: 999px;
}

.pricing-slider > .slider::-ms-fill-upper {
  background-color: #eaeefb;
}

.pricing-slider > .slider::-ms-fill-lower {
  background-color: #a5f3eb;
}

.pricing-slider > #focusMe {
  opacity: 0;
  position: absolute;
  left: -30rem;
}

.toggle-switch {
  position: relative;
}

.toggle-switch > .switchInput {
  display: none;
}

.toggle-switch > .switchLabel {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5rem;
  height: 2.6rem;
  border-radius: 999px;
  background: darkgray;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  padding: 0 0.4rem;
}

.toggle-switch > .switchLabel .circle {
  height: 2rem;
  width: 2rem;
  border-radius: 999px;
  background: white;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}

.toggle-switch > .switchInput:checked + .switchLabel {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: lightGreen;
}
/*# sourceMappingURL=main.css.map */