@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  background: salmon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

.pricing-slider {
  width: 100%;
  position: relative;
}

.pricing-slider > .slider {
  width: 100%;
  -webkit-appearance: none;
  height: 0.9rem;
  background: #eaeefb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5f3eb), to(#a5f3eb));
  background-image: linear-gradient(#a5f3eb, #a5f3eb);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  border-radius: 999px;
}

.pricing-slider > .slider:focus {
  outline: none;
}

.pricing-slider > .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: -webkit-grab;
  cursor: grab;
  background: url("../images/icon-slider.svg") no-repeat, #10d5c2;
  background-position: center;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
  height: 4rem;
  width: 4rem;
  border-radius: 999px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-box-shadow: 0 0 2px 0 #a5f3eb;
          box-shadow: 0 0 2px 0 #a5f3eb;
  border: none;
}

.pricing-slider > .slider::-webkit-slider-thumb:hover {
  background: url("../images/icon-slider.svg") no-repeat, #7aebe0;
  background-position: center;
  cursor: pointer;
}

.pricing-slider > .slider:focus::-webkit-slider-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #0b9385;
  background-position: center;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pricing-slider > .slider::-webkit-slider-runnable-track {
  background: #eaeefb;
  background: transparent;
  height: 1rem;
  border: none;
  border-radius: 999px;
}

.pricing-slider > .slider::-moz-range-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #10d5c2;
  background-position: center;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 999px;
  box-shadow: 0 5px 10px #a5f3eb;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.pricing-slider > .slider::-moz-range-thumb:hover {
  background: url("../images/icon-slider.svg") no-repeat, #7aebe0;
  background-position: center;
  cursor: grab;
}

.pricing-slider > .slider:focus::-moz-range-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #0b9385;
  background-position: center;
  cursor: grabbing;
}

.pricing-slider > .slider::-moz-range-progress {
  background-color: #a5f3eb;
  padding: 0.3rem;
  border-radius: 999px;
}

.pricing-slider > .slider::-moz-range-track {
  background-color: #eaeefb;
  padding: 0.3rem;
  border-radius: 999px;
}

.pricing-slider > .slider::-ms-fill-upper {
  background-color: #eaeefb;
}

.pricing-slider > .slider::-ms-fill-lower {
  background-color: #a5f3eb;
}

.pricing-slider > #focusMe {
  opacity: 0;
  position: absolute;
  left: -30rem;
}

.toggle-switch {
  position: relative;
}

.toggle-switch > .switchInput {
  display: none;
}

.toggle-switch > .switchLabel {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 999px;
  background: darkgray;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  padding: 0 0.3rem;
}

.toggle-switch > .switchLabel:hover {
  background: #10d5c2;
}

.toggle-switch > .switchLabel .circle {
  height: 1.85rem;
  width: 1.85rem;
  border-radius: 999px;
  background: white;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}

.toggle-switch > .switchInput:checked + .switchLabel {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pricing-card--container {
  width: 100%;
  max-width: 55rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
}

.pricing-card--container > .upper--container {
  padding: 1.5rem;
  width: 100%;
}

@media only screen and (min-width: 550px) {
  .pricing-card--container > .upper--container {
    padding: 3rem 5rem;
  }
}

.pricing-card--container > .upper--container > .pricing-output--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 50rem;
}

.pricing-card--container > .upper--container > .pricing-output--wrap .pageviews {
  margin: 0 auto;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 550px) {
  .pricing-card--container > .upper--container > .pricing-output--wrap .pageviews {
    margin: 0;
  }
}

.pricing-card--container > .upper--container > .pricing-output--wrap .price {
  margin: 0 auto;
  font-size: 3.2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (min-width: 550px) {
  .pricing-card--container > .upper--container > .pricing-output--wrap .price {
    margin: 0;
    margin-left: auto;
  }
}

.pricing-card--container > .upper--container > .pricing-output--wrap .price span {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: gray;
}

.pricing-card--container > .upper--container > .pricing-output--wrap .pricing-slider {
  margin: 3rem 1rem;
}

@media only screen and (min-width: 550px) {
  .pricing-card--container > .upper--container > .pricing-output--wrap .pricing-slider {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 3rem 0;
  }
}

.pricing-card--container > .upper--container > .choose-billing--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 3rem;
  width: 100%;
  max-width: 42rem;
}

.pricing-card--container > .upper--container > .choose-billing--wrap .toggle-switch {
  margin: 0 1rem;
}

.pricing-card--container > .upper--container > .choose-billing--wrap .discount, .pricing-card--container > .upper--container > .choose-billing--wrap .discountDesktop {
  background: #feece7;
  color: #ff8c66;
  border-radius: 999px;
  padding: 0.2rem 0.4em;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 550px) {
  .pricing-card--container > .upper--container > .choose-billing--wrap .discount, .pricing-card--container > .upper--container > .choose-billing--wrap .discountDesktop {
    display: none;
  }
}

.pricing-card--container > .upper--container > .choose-billing--wrap .discountDesktop {
  display: none;
}

@media only screen and (min-width: 550px) {
  .pricing-card--container > .upper--container > .choose-billing--wrap .discountDesktop {
    display: block;
  }
}

.pricing-card--container > .upper--container > .choose-billing--wrap .billingLabel {
  font-size: 1.4rem;
  color: gray;
  letter-spacing: 0.02rem;
}
/*# sourceMappingURL=main.css.map */