@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
}

.pricing-range {
  width: 100%;
  position: relative;
  margin: 1.5rem 0;
}

.pricing-range > .slider {
  width: 100%;
  -webkit-appearance: none;
  background: #eaeefb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5f3eb), to(#a5f3eb));
  background-image: linear-gradient(#a5f3eb, #a5f3eb);
  background-size: var(--width, 50%), 100%;
  background-repeat: no-repeat;
  height: 0.9rem;
  border-radius: 999px;
}

.pricing-range > .slider:focus {
  outline: none;
}

.pricing-range > .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: -webkit-grab;
  cursor: grab;
  background: url("../images/icon-slider.svg") no-repeat, #10d5c2;
  background-position: center;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
  height: 4rem;
  width: 4rem;
  border-radius: 999px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-box-shadow: 0 0 2px 0 #555;
          box-shadow: 0 0 2px 0 #555;
}

.pricing-range > .slider::-webkit-slider-thumb:hover {
  background: url("../images/icon-slider.svg") no-repeat, #7aebe0;
  background-position: center;
}

.pricing-range > .slider:focus::-webkit-slider-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #0b9385;
  background-position: center;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pricing-range > .slider::-webkit-slider-runnable-track {
  background: #eaeefb;
  background: transparent;
  border: none;
  height: 1rem;
  border-radius: 999px;
}

.pricing-range > .slider::-moz-range-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #10d5c2;
  background-position: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
  height: 4rem;
  width: 4rem;
  border-radius: 999px;
  border: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.pricing-range > .slider::-moz-range-thumb:hover {
  background: url("../images/icon-slider.svg") no-repeat, #7aebe0;
  background-position: center;
  cursor: grab;
}

.pricing-range > .slider:focus::-moz-range-thumb {
  background: url("../images/icon-slider.svg") no-repeat, #0b9385;
  background-position: center;
  cursor: grabbing;
}

.pricing-range > .slider::-moz-range-progress {
  background-color: #a5f3eb;
  padding: 0.3rem;
  border-radius: 999px;
}

.pricing-range > .slider::-moz-range-track {
  background-color: #eaeefb;
  padding: 0.3rem;
  border-radius: 999px;
}

.pricing-range > .slider::-ms-fill-upper {
  background-color: #eaeefb;
}

.pricing-range > .slider::-ms-fill-lower {
  background-color: #a5f3eb;
}

.pricing-range > #focusMe {
  opacity: 0;
  position: absolute;
  left: -30rem;
}
/*# sourceMappingURL=main.css.map */