.pricing-card--container {
    width: 100%;
    max-width: 55rem;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;

    > .upper--container {
        padding: 3rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktopSize {
            padding: 5rem;
        }

        > .pricing-output--wrap {
            display: flex;
            // background: lightblue;
            flex-wrap: wrap;
            width: 100%;
            max-width: 50rem;

            .pageviews {
                margin: 0 auto;
                letter-spacing: 0.1rem;
                display: flex;
                align-items: center;
                @include desktopSize {
                    margin: 0;
                }
            }

            .price {
                margin: 0 auto;
                font-size: 3.6rem;
                font-weight: 700;
                @include flexCenter();
                @include desktopSize {
                    margin: 0;
                    margin-left: auto;
                }

                span {
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: gray;
                }
            }

            // 🔻this is the slider component
            .pricing-slider {
                margin: 3rem 1rem;

                @include desktopSize {
                    order: 3;
                    margin: 3rem 0;
                }
            }
        }

        > .choose-billing--wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // margin-left: auto;
            margin-top: 3rem;
            width: 100%;
            max-width: 33ch;
            @include desktopSize {
                max-width: 42rem;
            }

            // 🔻this is the toggle component
            .toggle-switch {
                margin: 0 1rem;
            }

            .discount {
                background: color(primary-light-grayish-red);
                color: color(primary-light-red);
                border-radius: 999px;
                padding: 0.2rem 0.4em;
                margin-left: 0.5rem;
                font-size: 1.2rem;
                @include desktopSize {
                    display: none;
                }
            }

            .discountDesktop {
                @extend .discount;
                display: none;
                @include desktopSize {
                    display: block;
                }
            }

            .billingLabel {
                font-size: 1.3rem;
                color: gray;
                letter-spacing: 0.02rem;
            }
        }
    }

    > .lower--container {
        @extend .upper--container;
        padding-top: 0;

        @include desktopSize {
            flex-direction: row;
            justify-content: space-between;
        }

        .benefits-list {
            @include flexCenter(column);

            @include desktopSize {
                align-items: flex-start;
            }

            .listItem {
                margin-top: 1rem;
                position: relative;
                font-size: 1.4rem;
                &::before {
                    content: url("../images/icon-check.svg");
                    position: absolute;
                    color: green;
                    left: -2rem;
                    top: 0;
                    height: 1rem;
                    width: 1rem;
                }
            }
        }

        .start-trial-link {
            background: navy;
            padding: 1.25rem 5rem 1.35rem 5rem;
            border-radius: 999px;
            color: white;
            margin-top: 2rem;
        }
    }
}
