.pricing-range {
    width: 100%;
    position: relative;
    > .slider {
        width: 100%;
        -webkit-appearance: none;

        &:focus {
            outline: none;
        }

        // 🌀 Chrome styles 🌀

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            // color: green;
            background: url("../images/icon-slider.svg") no-repeat, color(primary-strong-cyan);
            background-position: center;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
            height: 3rem;
            width: 3rem;
            border-radius: 999px;

            transform: translateY(-35%);
        }

        &::-webkit-slider-runnable-track {
            background: color(neutral-empty-slider-bar);
            border: none;
            height: 1rem;
            border-radius: 999px;
        }

        // &:focus::-webkit-slider-thumb {
        //     background: pink;
        // }

        // 🦊  Firefox styles 🦊

        &::-moz-range-thumb {
            cursor: pointer;
            background: url("../images/icon-slider.svg") no-repeat, color(primary-strong-cyan);
            background-position: center;
            height: 3rem;
            width: 3rem;
            border-radius: 999px;
            border: none;
        }

        &::-moz-range-progress {
            background-color: color(primary-soft-cyan);
            padding: 0.3rem;
            border-radius: 999px;
        }

        &::-moz-range-track {
            background-color: color(neutral-empty-slider-bar);
            padding: 0.3rem;
            border-radius: 999px;
        }

        // 🌎 IE styles 🌎

        &::-ms-fill-upper {
            background-color: none;
        }
        &::-ms-fill-lower {
            background-color: rgb(253, 0, 0);
        }
    }
}
