.pricing-slider {
    width: 100%;
    position: relative;
    margin: 1.5rem 0;

    > .slider {
        width: 100%;
        //  🔻🔻🔻  these styles are what makes the progress bar work on chrome ⚠
        -webkit-appearance: none;
        background: color(neutral-empty-slider-bar);
        background-image: linear-gradient(
            to right,
            color(primary-soft-cyan),
            color(primary-soft-cyan)
        );
        background-size: var(--width, 50%) 100%;
        background-repeat: no-repeat;
        // 🔺🔺🔺
        height: 0.9rem;
        border-radius: 999px;

        &:focus {
            outline: none;
        }

        //  🌀 CHROME STYLES 🌀

        // thumb
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: grab;
            background: url("../images/icon-slider.svg") no-repeat, color(primary-strong-cyan);
            background-position: center;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
            height: 4rem;
            width: 4rem;
            border-radius: 999px;
            transform: translateY(-40%);
            box-shadow: 0 0 2px 0 color(primary-soft-cyan);
            border: none;
        }

        // thumb hover
        &::-webkit-slider-thumb:hover {
            background: url("../images/icon-slider.svg") no-repeat, hsl(174, 74%, 70%);
            background-position: center;
            cursor: pointer;
        }

        // thumb focus
        &:focus::-webkit-slider-thumb {
            background: url("../images/icon-slider.svg") no-repeat, hsl(174, 86%, 31%);
            background-position: center;
            cursor: grabbing;
        }

        // slider track
        &::-webkit-slider-runnable-track {
            background: color(neutral-empty-slider-bar);
            background: transparent;
            border: none;
            height: 1rem;
            border-radius: 999px;
        }

        // 🦊 Firefox styles 🦊

        // thumb
        &::-moz-range-thumb {
            background: url("../images/icon-slider.svg") no-repeat, color(primary-strong-cyan);
            background-position: center;
            box-shadow: 0 5px 10px color(primary-soft-cyan);

            height: 4rem;
            width: 4rem;
            border-radius: 999px;
            border: none;
            transition: background 0.25s;
        }

        // thumb hover
        &::-moz-range-thumb:hover {
            background: url("../images/icon-slider.svg") no-repeat, hsl(174, 74%, 70%);
            background-position: center;
            cursor: grab;
        }

        // thumb focus
        &:focus::-moz-range-thumb {
            background: url("../images/icon-slider.svg") no-repeat, hsl(174, 86%, 31%);
            background-position: center;
            cursor: grabbing;
        }

        // progress bar
        &::-moz-range-progress {
            background-color: color(primary-soft-cyan);
            padding: 0.3rem;
            border-radius: 999px;
        }

        // slider track
        &::-moz-range-track {
            background-color: color(neutral-empty-slider-bar);
            padding: 0.3rem;
            border-radius: 999px;
        }

        // 🌎 IE styles 🌎

        &::-ms-fill-upper {
            background-color: color(neutral-empty-slider-bar);
        }
        &::-ms-fill-lower {
            background-color: color(primary-soft-cyan);
        }
    }

    // ⚠ this is the button that gets focused with javaScript when the mouse leaves the range input slider.
    // this allows the :focus styles to reset to default
    > #focusMe {
        opacity: 0;
        position: absolute;
        left: -30rem;
    }
}
