.toggle-switch {
    position: relative;

    > .switchInput {
        display: none;
    }

    > .switchLabel {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 4rem;
        height: 2rem;
        border-radius: 999px;
        background: darkgray;
        transition: background 0.2s ease-in-out;
        padding: 0 0.3rem;

        .circle {
            // box-sizing:unset;
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 999px;
            // border: darkslategray solid .1rem;
            background: white;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
        }
    }

    > .switchInput:checked + .switchLabel {
        justify-content: flex-end;
        background: lightGreen;
    }
}
