html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    min-height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-family: $font-stack;
    background: salmon;
    @include flexCenter(column);
    padding: 1.5rem;
}
