@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import "abstracts/functions", "abstracts/mixins", "abstracts/variables";
@import "base";
@import "components/slider", "components/toggle";
@import "layout/pricing-card";
